fastapi
uvicorn[standard]
SQLAlchemy
PyMySQL
cryptography
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
email-validator
google-genai
Pillow
arabic-reshaper
python-bidi
boto3
requests
fish-audio-sdk
segmind
